
@media (width <= 990px) {


    .imgHeader {
        height: 10em;
        width: 10em;
        align-content: center;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
    }


}

@media ( width <= 1450px) and (width >990px){

    .imgContainer {
        height: 6em;
        width: 10em;

    }

    .imgHeader {
        margin-left: 0;
        width: 9em;
        position: relative;
        top:-1.5em;
        z-index: 51;
    }


    .titreContainer {
        flex-grow: 2;
    }

    .contactContainer {
        flex-grow: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .contactContainer:first-child{
        margin-right: 1em;
    }

    .socialContainer {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
}

@media (width > 1450px) {
    .imgContainer {
        height: 6em;
        width: 10em;

    }

    .imgHeader {
        margin-left: 0;
        width: 9em;
        position: relative;
        top:-1.5em;
        z-index: 51;
    }


    .titreContainer {
        flex-grow: 2;
    }

    .contactContainer {
        font-size: 1em;
        flex-grow: 5;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .contactContainer>i>span{
    font-weight: 	400;
        margin-left: 1rem;
}
    .contactContainer:first-child{
        margin-right: 1em;
    }

    .socialContainer {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
.socialContainer>span:last-child{
    margin-right: 1rem;
}
}



