.carteContainer{
    background-color: #FFF4F0;
    overflow: auto;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.listePlats{
    width: 100%;
}


.plats{
    text-decoration: none;
}

.lignePlats{
    cursor: pointer;
}

.lignePlats:hover{
    background-color: darkslateblue;
}

.collapsed+tr{
    /*display: none;*/
}
table{
    width: 75%;
    margin-left: 1em;
    padding-bottom: 1em;

    border-bottom: 1px solid black;
}
h3{
    text-align: left;
}
.titreApero>h3>span{
    font-size: 0.5em;
}
tr>td:first-child{
    width: 60%;
    height: 1.5em
}
tr{
    margin-bottom: 1em;
}

.apetizer{
    width: 25%;
    height: 10em;
    background-image: url('../images/rougailHachard.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* Style de la modale */
.modal-container {
display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF4F0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height:50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#platImage{
/*height: 50%;*/
    width: 20em;
    align-self: center;
}
.detailCache{
    display: none;
}