<div>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">Place sticky footer content here.</span>
        </div>
    </footer>
    <div>
        <span>Restauration rapide</span>
    </div>
    <div>
        <span>Soirée traiteur</span>
    </div>
    <div>
        <span>commandes en gros</span>
    </div>
</div>
