
{% block header %}
    <section class="imgContainer">
        <img src="{{ asset('images/pilon.png') }}" alt="pilon la réunion" class="imgHeader">
    </section>
    <section class="titreContainer">
        <h1>
            TI Goût Peï
        </h1>
        <h5>Traiteur et spécialités réunionnaises à emporter</h5>
    </section>
    <section class="contactContainer">
            <i class="fa-solid fa-phone">  06.99.89.16.60</i>
            <i class="fa-solid fa-envelope">  tigoupei.sophie@gmail.com</i>
    </section>
    <section class="socialContainer">
        <span class="social">
            <i class="fa-solid fa-location-dot">  M</i>
            <i class="fa-brands fa-facebook-f">  F</i>
        </span>
        <span class="connect">
            <i class="fa-solid fa-basket-shopping">  B</i>
            <i class="fa-solid fa-user">  U</i>
        </span>
    </section>
{% endblock %}