
{% block header %}
    <section class="imgContainer">
        <img src="{{ asset('images/pilon.png') }}" alt="pilon la réunion" class="imgHeader">
    </section>
    <section class="titreContainer">
        <h1>
            TI Goût Peï
        </h1>
        <h5>Traiteur et spécialités réunionnaises à emporter</h5>
    </section>
    <section class="contactContainer">
        <i class="fas fa-phone"><span>06.99.89.16.60</span></i>
        <i class="fas fa-envelope"><span>tigoupei.sophie@gmail.com</span></i>
    </section>

    <section class="socialContainer">
    <span class="social">
        <i class="fas fa-map-marker-alt"></i>
        <i class="fab fa-facebook-f"></i>
    </span>
        <span class="connect">
        <i class="fas fa-shopping-basket"></i>
        <i class="fas fa-user"></i>
    </span>
    </section>
{% endblock %}